<div class="bdy">

    <button (click)="backFun()" id="btnn">Back</button>
<div id="container">

  <div>
    <div id="main">
      <canvasjs-chart
        [options]="chartOptions"
        [styles]="{ width: '100%', height: '100%' }"
        >[[chartOptions]]</canvasjs-chart
      >
    </div>
  </div>

  <div id="container2">
    <div id="main2">
      <canvasjs-chart
        [options]="chartOptions2"
        [styles]="{ width: '100%', height: '100%' }"
        >[[chartOptions]]</canvasjs-chart
      >
    </div>
    <div id="main3">
      <canvasjs-chart
        [options]="chartOptions3"
        [styles]="{ width: '100%', height: '100%' }"
        >[[chartOptions]]</canvasjs-chart
      >
    </div>
  </div>
</div>

</div>


<!-- <div id="chartContainer"></div> -->
